/* CSS resets */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}


/* General CSS */

body {
    background-color: #f5f5e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

}

header {
    padding: 3rem;
    margin-bottom: 3rem;
    /* background-color: #ffff; */
    border-bottom: #000 1px solid;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 2rem;
}

main {}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #e6bbbb;
    padding: 2rem;
    text-align: center;
    border: 2px #000 solid;
    border-style: solid;
    border-width: 13px;
    border-color: black crimson black crimson;
    border-radius: .5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.3rem;
}

.about-section {
    background-color: #fff;
}

.portfolio-section {
    background-color: #f5f5f5;
}

footer {
    background-color: #d4d4d4;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
}